a{
    text-decoration: none;
}
body{
    margin: 0px;
    position: relative;
    padding: 55px 0px 0px;
}
#top-bar{
    top:0px;
    position: fixed;
    width: 100%;
    background-color: #ececec;
}
.top-bar-menu{
    display: inline-block;
    text-align: right;
    width: 97%;
    margin: 20px 0px 20px;
}
.top-bar-menu li{
    display: inline;
    position: relative;
    padding: 22px 20px 22px 20px;
}
.top-bar-menu li:hover{
    background-color: #cecece;
}
.dropdown{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200%;
    background-color: #ececec;
}
.dropdown a{
    display: block;
    padding: 5px 20px 5px 5px;
}
.dropdown a:hover{
    background: #cecece;
}
.top-bar-menu li:hover .dropdown{
    display: block;
}
input:focus{
    outline: none;
}
#top-image{
    background-size: cover;
    width: 100%;
    min-height: 600px;
    text-align: center;
}
#gray{
    width: 100%;
    min-height: 600px;
    display: inline-block;
    padding: 100px 0px 0px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
#title{
    color: white;
    font-size: 80px;
    margin: 30px;
}
#username{
    color: white;
    font-size: 50px;
    margin: 30px;
}
#join{
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: rgba(0,0,0,0.2);
    padding: 20px;
    margin: 30px;
    display: inline-block;
}
#list{
    width: 100%; 
}
.quiz{
    display: inline-block;
    width: 22%;
    margin: 1%;
    height: 210px;
    box-sizing: border-box;
    color:white;
    border-radius: 25px;
    background-size: cover;
    position: relative;
    background-size: cover;
}
.gray{
    width: 100%;
    height: 200px;
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-radius: 25px;
    overflow-y: scroll;
}
::-webkit-scrollbar { 
    display: none; 
}
.today{
    display: inline-block;
    color: white;
    border: solid 5px #006622;
    font-size: 20px;
}
.past{
    display: inline-block;
    color: white;
    border: solid 5px #cc8800;
    font-size: 20px;
}
.soon{
    display: inline-block;
    color: white;
    border: solid 5px #333;
    font-size: 20px;
    border-radius: 30px;
}
.open{
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    padding: 3%;
    color: white;
    border: solid 2px white;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}