a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    margin: 0;
    position: relative;
    padding: 55px 0 0;
    text-align: center;
    overflow: hidden;
}

#top-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #ececec;
}

#search-span form {
    display: inline-block;
    width: 22%;
    margin: 0 0 0 3%;
    box-sizing: border-box;
}

#search-span form input {
    padding: 20px 0 20px 20px;
    width: 80%;
    margin: 0 -2px;
    background: white;
    border: solid 2px #ececec;
    color: #006622;
}

.top-bar-menu {
    display: inline-block;
    text-align: right;
    width: 70%;
    margin: 20px 0 0;
}

.top-bar-menu li {
    display: inline;
    position: relative;
    padding: 22px 20px 22px 20px;
}

.top-bar-menu li:hover {
    background-color: #cecece;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200%;
    background-color: #ececec;
}

.dropdown a {
    display: block;
    padding: 5px 20px 5px 5px;
}

.dropdown a:hover {
    background: #cecece;
}

.top-bar-menu li:hover .dropdown {
    display: block;
}

input:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: #333;
}

h1 strong {
    font-size: 45px;
    color: #e60;
}

.startingLinks a {
    display: inline-block;
    width: 27%;
    box-sizing: border-box;
    margin: 1%;
    height: 350px;
    background-image: linear-gradient(to bottom, #e60 0%, #e72 100%);
    color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 5px 0 #333;
    transition: 0.5s;
    outline: none;
}

.startingLinks a:hover {
    margin-top: calc(1% - 20px);
    margin-bottom: calc(1% + 20px);
    box-shadow: 0 15px 40px -8px #333;
}

.startingLinks .starting {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startingLinks h3 {
    font-size: 30px;
    height: 10%;
    font-family: sans-serif;
}

.startingLinks i {
    position: absolute;
    display: inline-block;
    height: 70%;
    font-size: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    transition: 2.5s;
    text-shadow: 0 0 #333;
}

.startingLinks a:hover i {
    transform: translate(-50%, -35%) rotate(710deg);
    text-shadow: 7px 7px #333;
    transition: 1s;
}

@media only screen and (max-width: 980px) {
    body {
        padding: 80px 0 0;
    }

    #search-span form {
        display: inline-block;
        width: 33%;
        margin: 20px 0 0 3%;
        box-sizing: border-box;
    }

    #search-span form input {
        font-size: 35px;
        width: 100%;
    }

    #going, #joined, #worldwide, #all {
        border-top: dotted 20px #cecece;
    }

    .top-bar-menu {
        display: inline-block;
        text-align: center;
        width: 55%;
        margin: 50px 0 50px;
        font-size: 30px;
    }

    .top-bar-menu li {
        padding: 50px 30px;
    }

    .top-bar-menu li:hover {
        background-color: #cecece;
    }

    .dropdown {
        top: 135px;
        padding: 20px;
    }
}

#loading {
    position: absolute;
    top: 200px;
    margin: 200px 47%;
}
