a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0px;
    position: relative;
    padding: 55px 0px 0px;
}
#top-bar{
    top:0px;
    position: fixed;
    width: 100%;
    background-color: #ececec;
}
#search-span form{
    display: inline-block;
    width: 22%;
    margin: 0px 0px 0px 3%;
    box-sizing: border-box;
}
#search-span form input{
    padding: 20px 0px 20px 20px;
    width: 80%;
    margin: 0px -2px;
    background: white;
    border: solid 2px #ececec;
    color: #006622;
}
.top-bar-menu{
    display: inline-block;
    text-align: right;
    width: 70%;
    margin: 20px 0px 0px;
}
.top-bar-menu li{
    display: inline;
    position: relative;
    padding: 22px 20px 22px 20px;
}
.top-bar-menu li:hover{
    background-color: #cecece;
}
.dropdown{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200%;
    background-color: #ececec;
}
.dropdown a{
    display: block;
    padding: 5px 20px 5px 5px;
}
.dropdown a:hover{
    background: #cecece;
}
.top-bar-menu li:hover .dropdown{
    display: block;
}
input:focus{
    outline: none;
}
#events{
    display: inline-block;
    position: absolute;
    width: 40%;
    top: 100px;
    left: 0px;
    border-top: dashed 2px #acacac;
    margin: 0% 3%;
}
#quizzes{
    display: inline-block;
    position: absolute;
    width: 40%;
    top: 100px;
    left: 50%;
    border-top: dashed 2px #acacac;
    margin: 0% 3%;
}
.event{
    display: inline-block;
    width: 48%;
    margin: 1%;
    height: 200px;
    box-sizing: border-box;
    color:white;
    border-radius: 25px;
    background-size: cover;
    position: relative;
}
.quiz{
    display: inline-block;
    width: 48%;
    margin: 1%;
    height: 200px;
    box-sizing: border-box;
    color:white;
    border-radius: 25px;
    background-size: cover;
    position: relative;
}
.gray{
    width: 100%;
    height: 200px;
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-radius: 25px;
    overflow-y: scroll;
}
::-webkit-scrollbar { 
    display: none; 
}
.edit_button{
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    padding: 5%;
    color: white;
    border: solid 2px white;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}
#loading{
    position: absolute;
    top: 200px;
    margin: 200px 47%;
}