a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
body{
    margin: 0px;
    position: relative;
    padding: 60px 0px 0px;
}
#top-bar{
    padding-left: 0px;
    top:0px;
    position: fixed;
    width: 100%;
    background-color: #ececec;
}
.top-bar-menu{
    display: inline-block;
    text-align: right;
    width: 97%;
    margin: 20px 0px 20px;
}
.top-bar-menu li{
    display: inline;
    position: relative;
    padding: 22px 20px 22px 20px;
}
.top-bar-menu li:hover{
    background-color: #cecece;
}
.dropdown{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200%;
    background-color: #ececec;
}
.dropdown a{
    display: block;
    padding: 5px 20px 5px 5px;
}
.dropdown a:hover{
    background: #cecece;
}
.top-bar-menu li:hover .dropdown{
    display: block;
}
#top{
    padding: 0px 20px;
}
#top input{
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #333;
    margin: 5px;
    font-size: 26px;
    height: 50px;
}
#title{
    width: 400px;
}
#subtitle{
    width: 700px;
}
#start{
    width: 180px;
    text-align: center;
}
#top-img-input::-webkit-file-upload-button {
    display: none;
}
#top-img-input{
    width: 500px;
    text-align: center;
    position: relative;
}
#top-img-input::after{
    content: "Click to select image or drag image here";
    position: absolute;
    margin: 10px;
}
#top img{
    border-radius: 10px;
    border: solid 2px #333;
    background: #ececec;
    margin: 5px;
    font-size: 26px;
    min-width: 100px;
    min-height: 100px;
    max-width: 800px;
    max-height: 400px;
    background-size: cover;
}
h3{
    font-size: 50px;
}
#add span{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #333;
    margin: 5px;
    font-size: 20px;
}
#add span:hover{
    background: #eee;
}
/* CheckBox */
.container {
    transition: 0.5s;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    border: solid 2px #006622;
    border-radius: 10px;
}
.container:hover{
    background: #ececec;
}
.checked{
    background: #006622;
    color: white;
}
.checked:hover{
    background: #006622;
    color: #ddd;
}
#save{
    text-align: center;
}
.publish{
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    border: solid 2px #333;
    border-radius: 10px;
    background: #333;
    color: white;
    transition: 0.5s;
}
.save{
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    border: solid 2px #333;
    border-radius: 10px;
    background: #333;
    color: white;
    transition: 0.5s;
}
.delete{
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    border: solid 2px #aa3300;
    border-radius: 10px;
    background: #aa3300;
    color: white;
    transition: 0.5s;
}
.publish:hover{
    background: #006622;
    border: solid 2px #006622;
}
.save:hover{
    background: #006622;
    border: solid 2px #006622;
}
.delete:hover{
    background: #990000;
    border: solid 2px #990000;
}
input[type="date"]{
    color: #006622;
    border: solid 2px #006622;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #006622;
}
input:focus, input:hover{
    border-style:dashed;
    outline: none;
}
.question .img:hover, .question .img:focus{
    border-style:dashed;
    outline: none;
}
#top input:hover, #top input:focus{
    border-style:dashed;
    outline: none;
}
#quizzes{
    padding: 0px 20px;
}
#add{
    padding: 0px 20px;
}
#publish{
    padding: 0px 20px;
}
.quizzes{
    color: #006622;
    border: solid 2px #006622;
    padding: 11px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.quizzes::-webkit-calendar-picker-indicator {
    color: #006622;
}
.quizzes:focus, .quizzes:hover{
    border-style:dashed;
    outline: none;
}