.error404{
    margin: 5% -8px;
    text-align: center;
    font-family: 'Bahianita', cursive;
    font-size: 50px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;

}
.error404 strong{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.error404 strong:nth-child(odd){
    animation: zoom-in-out 1s ease-in-out infinite;
}
.error404 strong:nth-child(even){
    animation: zoom-out-in 1s ease-in-out infinite;
}
@keyframes zoom-in-out{
    0% {font-size: 50px}
    50% {font-size: 60px}
    100% {font-size: 50px}
}
@keyframes zoom-out-in{
    0% {font-size: 60px}
    50% {font-size: 50px}
    100% {font-size: 60px}
}
.links{
    margin: -8px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
ul li{
    display: inline-block;
    position: fixed;
    z-index: -1;
}
ul li:nth-child(1){
    padding: 20px;
    animation: go-up 5s linear infinite;
    background: #ececec;
    left: 0%;
}
ul li:nth-child(2){
    padding: 30px;
    animation: go-up 5s linear infinite;
    left: 10%;
}
ul li:nth-child(3){
    padding: 20px;
    animation: go-up 5s linear infinite;
    background: #ececec;
    left: 20%;
}
ul li:nth-child(4){
    padding: 30px;
    animation: go-up 5s linear infinite;
    left: 30%;
}
ul li:nth-child(5){
    padding: 30px;
    animation: go-up 5s linear infinite;
    left: 40%;
}
ul li:nth-child(1){
    padding: 20px;
    animation: go-up 5s linear infinite;
    background: #ececec;
    left: 50%;
}
ul li:nth-child(2){
    padding: 30px;
    animation: go-up 5s linear infinite;
}
ul li:nth-child(3){
    padding: 20px;
    animation: go-up 5s linear infinite;
    background: #ececec;
}
ul li:nth-child(4){
    padding: 30px;
    animation: go-up 5s linear infinite;
}
ul li:nth-child(5){
    padding: 30px;
    animation: go-up 5s linear infinite;
}
@keyframes go-up{
    0% { top: 100%}
    100% { top: -100%;}
}