* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    margin: 0px;
    position: relative;
    padding: 55px 0px 0px;
}

#top-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #ececec;
}

#search-span form {
    display: inline-block;
    width: 22%;
    margin: 0px 0px 0px 3%;
    box-sizing: border-box;
}

#search-span form input {
    padding: 20px 0px 20px 20px;
    width: 80%;
    margin: 0px -2px;
    background: white;
    border: solid 2px #ececec;
    color: #006622;
}

.top-bar-menu {
    display: inline-block;
    text-align: right;
    width: 70%;
    margin: 20px 0px 0px;
}

.top-bar-menu li {
    display: inline;
    position: relative;
    padding: 22px 20px 22px 20px;
}

.top-bar-menu li:hover {
    background-color: #cecece;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200%;
    background-color: #ececec;
}

.dropdown a {
    display: block;
    padding: 5px 20px 5px 5px;
}

.dropdown a:hover {
    background: #cecece;
}

.top-bar-menu li:hover .dropdown {
    display: block;
}

input:focus {
    outline: none;
}

#all {
    border-top: dashed 2px #acacac;
    margin: 0% 3%;
    display: none;
}

.quiz {
    display: inline-block;
    width: 20%;
    margin: 1%;
    height: 200px;
    box-sizing: border-box;
    color: white;
    border-radius: 25px;
    background-size: cover;
    position: relative;
}

.gray {
    width: 100%;
    height: 200px;
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.play_button {
    display: inline-block;
    text-decoration: none;
    margin-top: 5%;
    padding: 5%;
    color: white;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    body {
        padding: 80px 0px 0px;
    }

    #search-span form {
        display: inline-block;
        width: 33%;
        margin: 20px 0px 0px 3%;
        box-sizing: border-box;
    }

    #search-span form input {
        font-size: 35px;
        width: 100%;
    }

    #going, #joined, #worldwide, #all {
        border-top: dotted 20px #cecece;
    }

    .top-bar-menu {
        display: inline-block;
        text-align: center;
        width: 55%;
        margin: 50px 0px 50px;
        font-size: 30px;
    }

    .top-bar-menu li {
        padding: 50px 30px;
    }

    .top-bar-menu li:hover {
        background-color: #cecece;
    }

    .dropdown {
        top: 135px;
        padding: 20px;
    }

    .quiz {
        width: 48%;
        height: 700px;
    }

    .gray {
        height: 700px;
        padding: 10px 70px;
    }

    h2 {
        font-size: 65px;
        margin: 50px 5px 5px;
    }

    h3 {
        font-size: 40px;
    }

    .gray p {
        font-size: 50px;
    }

    .play_button {
        margin: 60px 60px 0px;
        top: unset;
        bottom: 0%;
        right: 0%;
        font-size: 50px;
    }
}

#loading {
    position: absolute;
    top: 200px;
    margin: 200px 47%;
}
