input {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 30px;
    font-size: 20px;
    border: solid 2px #2aa22a;
    color: #2aa22a;
}

button {
    background: #2aa22a;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    outline: none;
}

input:focus {
    outline: none;
}

#connect {
    border-top: dashed 2px #acacac;
    margin: 0 3%;
    padding: 1% 0 2%;
    display: block;
}

#error{
    color: #990000;
}
